<h2>Welcome to Odin-facebook @name!</h2>
<p>
  Thank you for signing up to odin-facebook.  Hopefully you find the experence awesome!  Or at least, adequate.
</p>

<%= link_to "Odin facebook", root_url %>