<div class="comment-container">
  <%= comment.text %>
  <div class="comment-details">
    <%= gravatar_for comment.user, size: 20 %>
    author <%= link_to comment.user.name, comment.user %>
    posted <%= date_distance_in_words_if_less_than_day comment.created_at %> 
  </div>
</div>