

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body{
  background: #fff;
  margin: 0px;
  padding: 0px;
}

/* global links */
a:link {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.right{
  float: right;
}

.indent{
  padding-right: 5px;
  padding-left: 10px;
}

.content-container{
  margin-left: auto;
  margin-right: auto;
  width: 70%
}

/* header */
.header{
  width: 520px 100%;
  margin-top: 0px;
  padding: 7px 10px 7px 10px;
  background: #f0f0f0;
}

/* profile */
.profile{
  width: 500px;
}

.profile .label{
  color: #5555E0;
}

.profile-item{
  list-style-type: none;
}

/* flash */
.flash{
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.notice{
  width: 500px;
  background: #66E066;
  border-color: #295A29;
}

.alert{
  width: 500px;
  background: #f04444;
  border-color: #AA0000;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* posts */
.post-details{
  font-size: 10px;
  color: #999999;
}

.post-container, .new-post-container{
  width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px;
}

.post-container, .profile{
  background: linear-gradient(to right, #EBF0FF, #FFFFFF);
}

/* friend links */
.new_friend_link{
  display: inline; 
}

.new_friend_link input[type="submit"] {
  background: #9cd7ff;
  background-image: -webkit-linear-gradient(top, #9cd7ff, #59b0e6);
  background-image: -moz-linear-gradient(top, #9cd7ff, #59b0e6);
  background-image: -ms-linear-gradient(top, #9cd7ff, #59b0e6);
  background-image: -o-linear-gradient(top, #9cd7ff, #59b0e6);
  background-image: linear-gradient(to bottom, #9cd7ff, #59b0e6);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  padding: 2px;
  text-decoration: none;
  border: none;
}

.new_friend_link input[type="submit"]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Likes */
.like-post input[type="submit"],.unlike-post input[type="submit"]{
  background: #3498db;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 2px;
  text-decoration: none;
  border: none;
}

.unlike-post input[type="submit"]{
  background: #bd3131;
}

.like-post input[type="submit"]:hover{
  background: #52bafa;
}

.unlike-post input[type="submit"]:hover {
  background: #ff0000;
}