

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* global links */
a:link {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* posts */
.post-details{
  font-size: 10px;
  color: #999999;
}