

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin padding5{
  padding: 5px;
}

body{
  background: #fff;
  margin: 0px;
  padding: 0px;
}

/* global links */
a:link {
  text-decoration: none;
}

a:visited {
  color: blue;  
}
a:hover{
  text-decoration: underline;
}

.right{
  float: right;
  padding-right: 10px;
}

.indent{
  padding-right: 5px;
  padding-left: 10px;
}

.content-container{
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 70%
}

.notification a, .friend_link .decline a{
  color: #B20000;
}

.friend_link .decline a{
  font-size: 11px;
}
/* header */
.header{
  position: fixed;
  height: 30px;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-top: 10px;
  padding-left: 5px;
  /*
  width: 520px 100%;
  margin-top: 0px;
  padding: 7px 10px 7px 10px; */
  background: #f0f0f0;
}

/* profile */
.profile{
  padding-top: 1px;
  padding-bottom: 1px;
  width: 500px;
  border-radius: 3px;
}

.profile .label{
  color: #5555E0;
}

.profile-item{
  list-style-type: none;
}

/* flash */
.flash{
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.notice{
  width: 500px;
  background: #66E066;
  border-color: #295A29;
}

.alert{
  width: 500px;
  background: #f04444;
  border-color: #AA0000;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* posts */
.post-details, .comment-details{
  font-size: 10px;
  color: #999999;
}

.post-container, .new-post-container{
  width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 10px;
  padding: 5px;
  padding-left: 18px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.post-container, .profile{
  background: linear-gradient(to right, #EBF0FF, #FFFFFF);
}

.new-post-container textarea{
  width: 400px;
  height: 100px;
}

/* friend links */
.new_friend_link, .friend_link form{
  display: inline; 
}

.new_friend_link input[type="submit"], 
.friend_link input[type="submit"]{
  background: #9cd7ff;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  border: none;
}

.new_friend_link input[type="submit"]:hover,.friend_link input[type="submit"]:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/* Likes */
input[type="submit"],,
.like-post input[type="submit"],
.unlike-post input[type="submit"],
.new-post-container input[type="submit"]{
  background: #3498db;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 2px;
  text-decoration: none;
  border: none;
}

input[type="submit"]:hover{
  background: #71B7E6;
}

.unlike-post input[type="submit"]{
  background: #8F0000;
}

.like-post input[type="submit"]:hover{
  background: #52bafa;
}

.unlike-post input[type="submit"]:hover {
  background: #ff0000;
}

/* Comments */
.comments{
  padding-top: 5px;
  padding-left: 10px;
}

.comment-container{
  padding-top: 5px;
  padding-bottom: 3px;
}

.comments .title{
  font-weight: bold;
  padding-bottom: 2px;
}