<div class="friend_link">
  <%= link_to friend_link.requester.name, friend_link.requester %>
  <% if friend_link.status == "pending" %>
    <%= form_for friend_link do |f| %>
      <%= f.submit "Accept" %>
    <% end %>
    <span class="decline"><%= link_to("decline", friend_link, method: :delete) %></span>
  <% end %>
</div>